body {
    background-color: lightblue;
    margin: 0px 200px;
}

.err {
    color: darkred;
    visibility: hidden;
}

#main {
    background-color: white;
    padding: 1em 5em 3em 5em;
}

h1 {
    color: darkblue;
    font-size: 200%;
}

fieldset {
    border: solid 1px darkblue;
    padding: 1em;
}

legend {
    color: darkblue;
    font-variant: small-caps;
}

.btn {
    background-color: darkblue;
    border-color: darkblue;
}